[Unit]
Description=A meeting scheduling bot written in Java

[Service]
ExecStart=/bin/java -jar /usr/bin/eventusbottus.jar
WorkingDirectory=/usr/share/eventusbottus
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
